.main {
  background-color: #2b2b2b;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  font-family: "Work Sans";
}

.navbar-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}

.nav-cust {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px 20px 50px;
  font-size: 16px;
}

.logo {
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-right: 3%;
}

.brand-name {
  display: inline-block;
}

.collapse-able-div {
  justify-content: end;
}

.main-menu {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.btn-menu {
  background-color: inherit;
  color: #ffffff;
  border: none;
  padding: 0px 20px 0px 20px;
}

.purple-btn {
  background-color: #a259ff;
  border: solid #a259ff 0.1px;
  color: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  padding: 10px 30px 10px 30px;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.btn-text {
  margin: 0;
}

.btn-img {
  margin-right: 10%;
}

.container {
  margin-bottom: 5%;
}

.highlighted-nft-mobile-view {
  display: none;
}

.major-heading {
  font-size: 67px;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.sub-text {
  font-weight: 400;
  font-size: 22px;
}

.sub-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 400;
  font-size: 23.99px;
}

.sub-menu-item {
  width: fit-content;
  white-space: nowrap;
}

.sub-menu-item .prominent-btn-text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 28px;
}

.highlighted-nft {
  display: flex;
  flex-direction: column;
}

.highlighted-nft-sub-frame {
  background-color: #3b3b3b;
  padding: 20px;
  margin-bottom: 4%;
}

.rounded-bottom {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.sub-frame-bottom-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
}

.frame-heading-para {
  font-size: 22px;
  font-weight: 600px;
  margin: 0;
  padding: 0;
}

.anima-kid-side-img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.trending-collection-heading {
  font-weight: 600;
  font-size: 38px;
  padding: 0;
  margin: 0;
}

.main-trending-img {
  width: 330px;
  height: 330px;
  margin-bottom: 3%;
}

.trending-sub-img {
  width: 30%;
  height: 100px;
  margin-right: auto;
}

.sub-img-tray {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
}

.black-btn {
  background-color: inherit;
  border: solid #a259ff 2px;
  justify-content: end;
  box-sizing: border-box;
}



.top-artists-headline {
  display: flex;
  flex-direction: column;
}

.sub-heading-button-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-creator-bottom-btn {
  display: none;
}

.para-heading-22px{
  font-size: 22px;
  font-weight: 600;
  padding: 0;
  margin: 0%;
  text-align: center;
}

.top-artists-cards{
  display: flex;
  flex-direction: row;
}
.artist-card{
  border-radius: 20px;
  background-color: #3b3b3b;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.description-card{
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 5px;
}

.para-sub-text-light{
  color: #858584;

}

.para-sub-text-space-mono{
  font-family: 'Space Mono';
  font-size: 16px;
  font-weight: 400;
}


.artist-main-img{
  height:120px;
  width:120px;
  margin: 0;
}
.top-artist-img{
  position: relative;
  display: inline-block;
}

.superscript-img{
  position: absolute;
  top:10px;
  left:-5%;
  background-color: #2B2B2B;
  width: 30px;
  height: 30px;
  border-radius: 20px;
}

.top-artists-desc{
  display: flex;
  flex-direction: column; /* Display children in a column */
  justify-content: center; /* Center content vertically */
}

.para-heading-with-padding{
  font-size: 22px;
  font-weight: 600;
  background-color: #3b3b3b;
  color: #ffffff;
  padding:  20px 30px 25px 30px;
  width: 100%;
}

.para-heading-with-padding p{
  text-align: start;
}

.custom-card{
  border-radius: 20px ;
  overflow: hidden;
}

.custom-card-img{
  width: 100%;
}
.category-row{
  display: flex;
  flex-direction: row;
}
.bottom-div{
  font-size: 22px;
  font-weight: 600;
  background-color: #3b3b3b;
  color: #ffffff;
  padding:  20px 30px 25px 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn-case {
  display: none;
}

.bottom-div .highlighted-nft-sub-frame{
  padding: 0;
}

.price-bid-text{
  font-family: 'Space Mono';
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.price-bid-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Space Mono';
  font-size: 12px;
  font-weight: 400;
  color:#858584;
}

.price-bid-body{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



.magic-mushroom-section{
  background-image: url('./static/nftback.png');
  background-size: 100% 640px;
  background-repeat: no-repeat;
  padding-top: 30%;
  padding-bottom:1%;
}



.mushroom-details{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.mushroom-heading{
  font-weight: 600;
}


.mushroom-details .sub-frame-bottom-div{
  background-color: #3b3b3b;
  width: fit-content;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
}

.mushroom-white-btn-md-lg{
  background-color: #ffffff;
  color :#2B2B2B;
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding: 22px 50px 22px 50px;
  border-radius: 20px;
  white-space: nowrap;
  width: fit-content;
}

.magic-mushroom-frame{
  display:flex;
  flex-direction: row;
  justify-content: end;
}
.timer-div{
  background-color: #3B3B3B80;
  padding:30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: fit-content;
}



.timer-div p{
  padding: 0%;
  margin: 0%;
}



.sub-text-12{
  font-size: 12px;
  font-family: 'Space Mono';

}

.timer{
  display:flex;
  flex-direction: row;
  width: fit-content;
  margin: 0%;
}

.timer-block{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.number{
font-family: 'Space Mono';
font-size: 38px;
font-weight: 700;
}



.mushroom-white-btn-sm-bottom{
  display: none;
}

.custom-card-2{
  background-color: #3b3b3b;
  border-radius: 20px ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-card-img-2{
  width: 250px;
  height: 250px;
}

.bottom-div-2{

    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
    padding:  20px 30px 25px 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;

}
.heading-22{
  font-size: 22px;
  font-weight: 600;
}
.text-16{
  font-size: 16px;
  font-weight: 400;
}

.weekly-digest-heading{
  font-size: 38px ;
  font-weight: 600;
}

.weekly-digest-row{
  background-color: #3b3b3b;
  border-radius: 20px;
}

.weekly-digest-row{
  padding:60px 60px 60px 60px;
}

.weekly-digest-text{
  font-size: 22px ;
  font-weight: 400;
}
@media screen and (max-width: 991px) {
  .custom-card-img-2{
    width: 160px;
    height: 160px;
  }
  .heading-22{
    font-size: 16px;
    font-weight: 400;
  }
  .text-16{
    font-size: 12;
    font-weight: 200;
  }
  .number{
    font-family: 'Space Mono';
    font-size: 30px;
    font-weight: 700;
    }

  .discover-more-3 {
    display:none;
  }
  .para-heading-with-padding{
    font-size:16px;
  }
  .artist-card-7-12{
    display: none;
  }
  .major-heading {
    font-size: 38px;
  }

  .sub-text {
    font-size: 16px;
  }

  .trending-collection-heading {
    font-size: 28px;
  }
  .trending-item-3{
    display:none;
  }
  .artist-card{
    border-radius: 20px;
    background-color: #3b3b3b;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }
  .artist-main-img{
    height:60px;
    width:60px;
    margin: 0;
  }
  .top-artists-desc{
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  .top-artists-desc .para-heading-22px{
    font-size: 22px;
    font-weight: 600;
    padding: 0;
    margin: 0%;
    text-align: start;
  }
}




@media screen and (max-width: 770px) {

  .custom-card-2{
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: center;
    align-items: center;
  }
  .custom-card-img-2{
    width: 100px;
    height: 100px;
  }
  .mushroom-white-btn-sm-bottom{
    background-color: #ffffff;
    color :#2B2B2B;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
    padding: 22px 50px 22px 50px;
    border-radius: 20px;
    white-space: nowrap;
    width: fit-content;
  }

  .mushroom-white-btn-md-lg{
    display: none;
  }
  .mushroom-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  .magic-mushroom-frame{
    display:flex;
    flex-direction: row;
    justify-content: start;
  }
  .timer-div{
    width: 100%;
    align-items: center;
  }

  .trending-item-2 {
    justify-content: center;
  }
  .artist-card{
    border-radius: 20px;
    background-color: #3b3b3b;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .description-card{
    flex-wrap: wrap;
  }

  .main-trending-img {
    width: 100%;
    height: 300px;
  }

  .trending-sub-img {
    height: 85px;
  }
}

@media screen and (max-width: 834px) {
  .trending-item-3 {
    display: none;
  }

  .logo {
    width: 24px;
    height: 24px;
  }

  .prominent-btn-text {
    font-size: 22px;
  }

  .sub-menu-text {
    font-size: 16px;
  }

  .highlighted-nft-img {
    width: 330px;
    height: 221px;
  }
}

@media screen and (max-width: 576px) {

  .discover-more-3 {
    display:block;
  }
  .btn-case{

      border-radius: 20px;
      padding: 20px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 10px;

  }

  .artist-card-6{
    display: none;
  }
  .black-btn {
    background-color: inherit;
    border: solid #a259ff 2px;
    justify-content: center;
  }

  .top-creator-bottom-btn {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .top-creator-side-btn {
    display: none;
  }

  .trending-item-2 {
    display: none;
  }

  .major-heading {
    font-size: 28px;
  }

  .highlighted-nft {
    display: none;
  }

  .purple-btn {
    width: 100%;
  }

  .btn-img {
    margin-right: 5%;
  }

  .highlighted-nft-mobile-view {
    display: flex;
    flex-direction: column;
  }

  .highlighted-nft-img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 350px) {

}
